:root {
	--special-1: #77d;
	--special-2: #d07;
	--special-3: #07d;
	--special-4: #fff;
	--foreground: #223;
	--background-primary: #cce;
	--background-secondary: #bbd;
	--background-tertiary: #aac;
}
